<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Not Found</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <style>
        body,html,div {
    margin: 0;
    padding: 0;
    height: 100%;
    
}
* {
    box-sizing: border-box;
}
    </style>
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rye&display=swap" rel="stylesheet">
</head>
<body style="margin:0">
    <div style="background-image: url('https://images7.alphacoders.com/121/1214933.jpg'); background-size: cover;background-repeat: no-repeat;height: 100vh;width: 100vw;background-position: center center;">
        <h1 style="color:white ;font-family: rye;margin: auto;text-align: center;">
            Seems like you're lost in the webpages between.... <br> 
        </h1>     
    </div>
   
    

</body>
</html>