<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Not Found</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <style>
        body,html,div {
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 2vh;
    
}
* {
    box-sizing: border-box;
}
    </style>
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rye&display=swap" rel="stylesheet">
</head>
<body style="margin:0">
    <div style="background-image: url('https://cdna.artstation.com/p/assets/images/images/047/739/196/large/broken-sigil-4th-try.jpg?1648323425'); background-size: cover; background-repeat: no-repeat; height: 100vh; width: 100vw; background-position: center center; display: flex; justify-content: center; align-items: center;">
        <h1 style="color:white ;font-family: rye; text-align: center;">
            <span style="height: 100%;">Put your foolish ambitions to rest.....</span>
        </h1>     
    </div>
</body>

</html>