<!DOCTYPE html>
<html lang="en">    
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='checkin.css') }}">
    {% include 'nav_head.html' %}
   
   
</head>
<body>
  {% include 'nav.html' %}
      <div  class="container mt-1">
        <div class="row ">
            <div class="col-md-4 col-sm-12 mb-4 ">
                <div class="p-4 " id="container_1">
                <form action="/usercheckin" method="post">
                    <h3 id="userloginHeading">User Check-In</h3>
                    <div class="form-group">
                      <!-- redacted -->
                      <!-- <label for="InputEmail1">Email address</label>
                      <input type="email" class="form-control" id="InputEmail1" name="email" placeholder="Enter email"> -->
                      <label for="username">User Name</label>
                      <input type="text" class="form-control" id="username" name="username" placeholder="Enter username">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputPassword1">Password</label>
                      <input type="password" name ="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                    </div>
                    <!-- redacted -->
                    <!-- <div class="form-group">
                        <label for="hours">Number of Hours</label>
                        <input type="text" class="form-control" id="hours" name="hours" placeholder="Hours">
                    </div> 
                    <div class="form-check">
                      <input type="checkbox" class="form-check-input" id="memberCheck1">
                      <label class="form-check-label" for="memberCheck1">Member ?</label>
                    </div>
                  -->
                    <div class="d-flex justify-content-center"> <!-- Centering the button -->
                        <button type="submit"class="btn btn-primary" id="usercheckin">Check-In</button>
                      </div>
                      
                  </form>
                 
                  </div>
            </div>
          <div class="col-md-4 col-sm-12 mb-4">
            <div   id="myModal">
                                <p></p>
              
          </div>
          </div>
            
            <div class="col-md-4 col-sm-12 mb-4 ">
                <div class="p-4 " id="container_2">
                <form action="/guestcheckin" method="post">
                    <h3 id="userloginHeading">Guest Check-In</h3>
                    <div class="form-group">
                        <label for="hours">Vehicle Number</label>
                        <input type="text" class="form-control" id="VinNo" name="vehiclenumber" placeholder="Vehicle Number">
                    </div>
                    <!-- <div class="form-group">
                        <label for="hours">Number of Hours</label>
                        <input type="text" class="form-control" id="hours" name="hours" placeholder="Hours">
                    </div> -->
                    <div class="d-flex justify-content-center"> <!-- Centering the button -->
                        <button type="submit" class="btn btn-primary" id="guestcheckin">Check-In</button>
                      </div>
                      
                      <hr  style=" height:1px;background-color: #3c3c3c" />
                      <div class="d-flex justify-content-center" style="flex-direction: column;"> <!-- Centering the button -->
                        <small style="text-align: center;">Don't have account? Create one</small><br>
                        <a href="{{url_for('signup')}}"><button type="button" class="btn btn-primary" id="submitbtn" >Create Account</button></a> 
                      </div>
                  </form>
                  </div>
            </div>
        </div>
        <div  class="container">

        <div class="row col-md-12 col-sm-12" id="container_1">
                        <h3 id="userloginHeading" style="height: 100%;">Check Out</h3>

                        <form action="/checkout" method="post">
                          <label for="parkingId" style="display: flex;flex-direction: column;">Parking Id / Username
                              
                                <input type="text"  id="parkingId" name="parkingId" placeholder="Parking Id">
                               
                              
                          </label>
                          <button type="submit" class="btn btn-primary" id="submitbtn">Check-out</button>
                        </form>
        </div>
        </div>
    </div> 
    
    <script>
      // JavaScript code for displaying the success message and auto-closing it after 5 seconds
      // document.addEventListener('DOMContentLoaded', () => {
      //     // Get the button elements and message container
      //     const usercheckin = document.getElementById('usercheckin');
      //     const guestcheckin = document.getElementById('guestcheckin');
      //     const modal = document.getElementById('myModal');

      //     // Function to show the modal and hide it after 5 seconds
      //     const showModal = (msg) => {
      //         modal.style.display = 'flex'; // Show the modal
      //         modal.innerHTML = msg;
      //         // Hide the modal after 5 seconds
      //         setTimeout(() => {
      //             modal.style.display = 'none'; // Hide the modal
      //         }, 5000);
      //     };

      //     // When the "Check-In" button in the "User Check-In" section is clicked, show the modal
      //     usercheckin.addEventListener('click', (event) => {

      //         event.preventDefault(); // Prevent the default form submission
      //         if ('{{message | safe }}' == 'login_failed'){
      //           showModal("Invalid username or password");
      //         }
      //         else{
      //           console.log('{{message|safe}}')
      //           showModal('Checked in successfully');
      //         }
              
      //     });

          // When the "Check-In" button in the "Guest Check-In" section is clicked, show the modal
          // guestcheckin.addEventListener('click', (event) => {
      //         event.preventDefault(); // Prevent the default form submission
      //         showModal();
      //     });
      // });
      console.log('{{message | safe }}')
      var msg = '{{message | safe}}';
      if (msg != ''){
        if (msg == 'login_failed'){
          document.getElementById('myModal').innerHTML = "Invalid username or password";
        }
        else if (msg == 'already_checkedin'){
          document.getElementById('myModal').innerHTML = "Invalid input: User/Guest already clocked-in";
        }
        else if (msg == 'invalid_username'){
          document.getElementById('myModal').innerHTML = "Invalid Username : Please try again";
        }
        else if (msg == 'parking_id_not_found'){
          document.getElementById('myModal').innerHTML = "Parkin ID not found : Please try again";
        }
        else if (msg == 'not_clocked_in'){
          document.getElementById('myModal').innerHTML = "Invalid input: User/Guest not checked-in";
        }
        else if (msg == 'already_clocked_in'){
          document.getElementById('myModal').innerHTML = "Invalid input: User/Guest already clocked-in";
        }
        else{
          document.getElementById('myModal').innerHTML = msg;
        }
        document.getElementById('myModal').style.display = 'flex';
        setTimeout(()=>{
          document.getElementById('myModal').style.display = 'none';
        },5000
        );
      }
      
  </script>

  <!-- Link to Bootstrap JS and any other JS files you may have -->
  <!-- Add any other necessary JavaScript files here -->

</body>
</html>

