
<!DOCTYPE html>
<html lang="en">    
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='checkin.css') }}">

    {% include 'nav_head.html' %}
   <style>span{
    padding-right:2ch;
    color: red;
}</style>
</head>
<body>
  {% include 'nav.html' %}
      <div  class="container mt-3">
        <div class="row ">
            <div class="col-md-4 col-sm-12 mb-4 ">
                
            </div>
          <div class="col-md-4 col-sm-12 mb-4">
            <div class="p-4 " id="container_2">
                <div class="col-md-12">
                    <!-- Wallet Balance Card -->
                    <div class="card">
                        <div class="card-header">
                            <h3 id="userloginHeading">Signup</h3>
                        </div>
                        <div class="card-body">
                            <form action="/signup" method="post">
                                <!-- <div >
                                    <label for="InputEmail1">Email address</label>
                                    <input type="email" class="form-control" id="InputEmail1" name="email" placeholder="Enter email">
                                  </div> -->
                                  <div >
                                    <label for="username">User Name</label>
                                    <!-- @ change the id here -->
                                    <input type="text" class="form-control" id="InputEmail1" name="username" placeholder="User Name">
                                  </div>
                                  <div class="form-group">
                                    <label for="exampleInputPassword1">Vehicle Number</label>
                                    <input type="password" class="form-control" id="exampleInputPassword1" name= "vehiclenumber" placeholder="Enter Vehicle Number">
                                  </div>
                                  <div >
                                    <label for="password">Password</label>
                                    <input type="password" class="form-control" id="password"  name= "password" placeholder="Enter Password" oninput="eevaluate()">
                                  </div>
                                  <div >
                                    <label for="confirmpassword">Confirm Password</label>
                                    <!-- @ put validation here -->
                                    <input type="password" class="form-control" id="confirmpassword" name= "confirmpassword" placeholder="re-enter Password" >
                                  </div>
                                  
                                  <div class="d-flex justify-content-center" style="flex-direction: column;"> <!-- Centering the button -->
                                    <button type="submit" class="btn btn-primary" id="submitbtn">Create Account</button>
                                  </div>
                              </form>
                           
                        </div>
                    </div>
        </div>
          </div>
          </div>

          <div class="col-md-4 col-sm-12 mb-4 ">
            <div class="p-4 " id="container_2">
              <div>
                <ul style="list-style-type: none;">
                  <li><span id="lowercase">&#x1F5D9;</span>It must contain a lowercase letter</li>
                  <li><span id="uppercase">&#x1F5D9;</span>It must contain an uppercase letter</li>
                 
                  <li><span id="eight">&#x1F5D9;</span>Password should be atleast 8 characters</li>
              </ul>
              </div>
</div>
          </div>

            
            
                  </div>
            </div>
        </div>
    </div> 
    
<script>
    if ('{{message | safe}}' == 'user_exists'){
      document.getElementById('show').innerHTML = 'User name already exists, please try another user name'
    }
    function flip(val){
        
        document.getElementById(val).innerHTML = "\u{2714}";
        document.getElementById(val).style.color="green";
        
    }
    function rreset(ids =["lowercase","uppercase","eight"]){
        
        if (ids.length == 3){upr=0;
        lwr=0;
      
        eit=0;}
        for (let i = 0; i < ids.length; i++) {
            document.getElementById(ids[i]).innerHTML = "&#x1F5D9";
            document.getElementById(ids[i]).style.color="red";  
                   
        }
        
        
    }
    function eevaluate(){
        
        var a=0, pwd = document.getElementById("password").value;
        rreset()
        if (pwd.length>=8){
            flip("eight");
            
            
            
        }
        else{
            eit = 0;
        }
        
        for (let i = 0; i < pwd.length; i++) {
          
            if (pwd[i].match(/[a-z]/)){
                
                flip("lowercase");
                
                
            }
            else if (pwd[i].match(/[A-Z]/)){
                // console.log("upper")
                flip("uppercase");
                
                
            }
            
            
        }
    }
  
</script>
</body>
</html>

